<table>
  <thead>
    <tr>
      <th class="id">Id</th>
      <th class="title">Title</th>
      <th class="description">Description</th>
      <th class="status">Status</th>
      <th class="created-date">Created Date</th>
      <th class="action">Action</th>
    </tr>
  </thead>

  <tbody>
    @for (task of taskService.taskList; track task.id) {
      <tr>
        <td class="id">{{ task.id }}</td>
        <td class="title">{{ task.title }}</td>
        <td class="description">{{ task.description }}</td>
        <td class="status">
          {{ task.completed ? 'Completed' : 'Pending' }}
        </td>
        <td class="created-date">
          {{ task.createdDate | date:'dd/MM/yyyy' }}
        </td>
        <td class="action">
          <button (click) ="updateTaskStatus(task.id,task.completed ? false : true)">{{task.completed ? 'Mark as Pending' : 'Mark as Completed'}}</button>
          <button (click)="deleteTask(task.id)">Delete</button>
        </td>
      </tr>
    }
  </tbody>
</table>